body {
	font-family: 'Vazirmatn', Roboto !important;
	font-weight: 300;
	text-align: justify;
}
h1, h2, h3, h4, h5, h6,input, textarea {
	font-family:  'Vazirmatn', Roboto !important;
}
h1 {
	font-weight: bold;
}

a.external-link::after {
    /* \00A0 is a non-breaking space
        to make the mark be on the same line as the link
    */
    content: "\00A0[↪]";
}

a.internal-link::after {
    /* \00A0 is a non-breaking space
        to make the mark be on the same line as the link
    */
    content: "\00A0↪";
}

/* 
    Mermaid
*/

#mermaid-1 .pieTitleText, .slice, .legend text {
    font-family: 'Vazirmatn' !important;
}

#mermaid-1 .slice, .legend text {
    font-size: 14px !important;
}
